<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    </head>
    <body>
      
   
           
            <section class="content-main mt-80 mb-80 ">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sign in</h4>
                        <form onsubmit="return formvalidate()" method="post" action="/admin/loadLIform">
                            <div class="mb-3">
                                <input value="shamil@gmail.com" class="form-control" placeholder="Username or email" type="text" id="email12" name="email12"/>
                            </div>
                            <div class="mb-3">
                                <input value="123456" class="form-control" placeholder="Password" type="password" id="password12" name="password12" />
                            </div>
                            <div class="mb-3 ">
                                <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                                <br>
                            </div>
                            <div class="mb-4 text-center">
                                <button type="submit" class="btn btn-primary w-20">Login</button>
                            </div>
                        </form>
                        </div>
                        <p class="text-center mb-4">Don't have account? <a href="/admin/register">Sign up</a></p>
                    </div>
                </div>
            </section>

           
            <script>
               document.addEventListener('DOMContentLoaded', function() {
                if('<%=msg%>'){
                        Swal.fire({
                            icon: 'success',
                            title: '<%=msg%>',
                            showConfirmButton: false,
                            timer: 2000
                        });}
                        
                    });


                function formvalidate(){
                   let email=document.getElementById('email12').value.trim()
                   let password=document.getElementById('password12').value.trim()
                    if(email=="" ||password==""){
                        Swal.fire({
                        icon: 'warning',
                        text: 'Please enter both email and password.',
                        showConfirmButton: false,
                        timer: 4000  // Close alert after 2 seconds
                    });
                        return false
                    }
                   
                    if(password.length < 6){
                        Swal.fire({
                        icon: 'warning',
                        text: "Password must be at least 6 characters long",
                        showConfirmButton: false,
                        timer: 4000  // Close alert after 2 seconds
                    });
                    return false
                }
            }
           
                 
                 
                   
                

            </script>
        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
