<!DOCTYPE html>
<html lang="en">


<!-- molla/category-boxed.html  22 Nov 2019 10:03:00 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    <script src="https://kit.fontawesome.com/dbad7a6aaf.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/homePage" >Home</a>   
                                </li>
                                <li>
                                    <a href="/product" >PRODUCT</a>
                                </li>
                                <li>
                                    <a href="">ABOUT</a>
                                </li>
                                <li>
                                    <a href="" >CONTACT</a>    
                                </li>
                                <li>
                                    <a href="/personalInfo" >PROFILE</a>    
                                </li>
                               
                            </ul>
                        </nav>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <!-- <div class="header-search-wrapper show">
                            <form action="/homesearch" method="GET">
                                <div class="header-search-wrapper ">
                                    <input type="search"  name="search"  placeholder="Search in..." required style="border: 1px solid #c69c61; padding: 0.5rem;">
                                    <button  onclick="performSearch()" style="border: 1px solid #c69c61;padding: 0.5rem;" id="searchButton"><i style="color: #c69c61;padding: 0.5rem;" class="icon-search"></i></button>
                                </div>
                            </form>
                        </div> -->
                      
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <%if(commonData.wishlistCount!==0){%>
                                <span class="wishlist-count"><%=commonData.wishlistCount%></span>
                                <%}%>
                           
                            <!-- <span class="wishlist-txt"></span> -->
                        </a>

                        <!-- <div class="dropdown cart-dropdown"> -->
                            <a href="/cart" class="wishlist-link">
                                <i class="icon-shopping-cart"></i>
                                <%if(commonData.cartCount!==0){%>
                                    <span class="wishlist-count"><%=commonData.cartCount%></span>
                                    <%}%>
                            </a>

                            <!-- <div class="dropdown-menu dropdown-menu-right"> -->
                                <!-- <div class="dropdown-cart-products"> -->
                                    <!-- <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div> End .product-cart-details -->

                                       <!-- <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div> -->

                                    <!-- <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div>

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div> -->
                                <!-- </div> -->

                                <!-- <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div> -->

                                <!-- <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <%if(!commonData.user){%>
                            <a href="#signin-modal" data-toggle="modal" class="wishlist-link"  data-placement="right" title="login">
                               <i class="fa-solid fa-right-to-bracket fa-sm"></i>
                              </a>
                              &nbsp;&nbsp;&nbsp;<span>LOG IN</span>
                            <%}else{%>
                                <a class="wishlist-link" href="/logout"  data-placement="right" title="logout">
                                    <i class="fa-solid fa-right-from-bracket fa-sm"></i>
                                </a>&nbsp;&nbsp; &nbsp;<span>LOG OUT</span>
                            <%}%>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->